<%= form_with scope: :client_request, url: client_requests_path, local: true do |form| %>
    <% if @client_request.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@client_request.errors.count, "error") %> prohibited
            this request from being saved:
          </h2>
          <ul>
            <% @client_request.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= form.label :service_type %><br>
      <%= form.collection_select :service_type_id, ServiceType.all, :id, :name, prompt: true %>
    </p>

    <p>
      <%= form.label :period %><br>
      <%= date_select :client_request, :period %>
    </p>

    <p>
      <%= form.label :detail %><br>
      <%= form.text_field :detail %><br>
    </p>
    <p>
      <%= form.submit %>
    </p>
<% end %>