
<%= render "shared/links"%>
<h1>Listing Client Requests</h1>
<%= link_to 'New client request', new_client_request_path %>

<%= form_for_filterrific @filterrific do |f| %>
	<div>
    Sorted by
    <%= f.text_field(:search_query, 
	class: 'filterrific-periodically-observed')
	%>
    </div>
	
	<div>
	Service Type
	<%= f.select(:with_name,
	@filterrific.select_options[:with_name],
	{include_blank: '- Any -'}
	)
	%>
	</div>
		
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>

<% end %>


<%= render(
  partial: 'client_requests/list',
  locals: { client_requests: @client_requests }
) %>