<%= render "shared/links" %>
<p>
  <strong>Service type:</strong>
  <%= ServiceType.find(@client_request.service_type_id).name %>
</p>

<p>
  <strong>Start from:</strong>
  <%= @client_request.period %>
</p>

<p>
  <strong>Period detail:</strong>
  <%= @client_request.rule.to_s %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @client_request.detail %>
</p>

<table id="public_messages">
    <tr>
        <th>User</th>
        <th>Message</th>
    </tr>
    <%= render @messages %>
</table>

<%= form_with model: @message, controller: "messages", method: "post" ,remote: true do |form| %>
  <div id="error"></div>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, value: @username, readonly: true%>
  </p>
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <%= form.text_field :client_request_id, value: @client_request.id, readonly: true, type: "hidden" %>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<!-- Display the matched offerings. TODO: extract a subview-->
<p>
  <strong>Matched Offerings:</strong>
  <ul>
  <% @matched_offerings.each do |offer_item| %>
    <% offer = offer_item[:offering]; occur_date = offer_item[:occur_date] %>
    <li>
    <p>
      <strong>Service type:</strong>
      <%= ServiceType.find(offer.service_type_id).name %>
    </p>

    <p>
      <strong>Start from:</strong>
      <%= offer.period %>
    </p>

    <p>
      <strong>Period detail:</strong>
      <%= offer.rule.to_s %>
    </p>

    <p>
      <strong>Detail:</strong>
      <%= offer.detail %>
    </p>

    <p>
      <strong> Recent available date:</strong>
      <%= occur_date %>
    </p>

  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_client_request_path(@client_request) %> |
<%= link_to 'Back', client_requests_path %>
