<%= link_to 'Home', home_path %>
<%= link_to 'Sign Up', signup_path %>
<%= link_to 'Login', login_path %>
<%= link_to 'Profile', profile_path %>
<%= link_to 'Services', services_path %>
<%= link_to 'About Us', aboutus_path %>
<%= link_to 'Facebook', 'https://www.facebook.com/BlueTomato-1528381810591668/' %> 
<%= link_to 'Twitter', 'https://twitter.com/teensrv' %> 
<%= link_to 'FAQ', faq_path %>
<%= link_to 'Privacy Policy', pp_path %>
<%= link_to 'Terms of Services', tos_path %>

<%= link_to 'SiteMap', sitemap_path %>

<br>

<h1> Services Page </h1>

<p> This is a template services page. </p>