<%= form_with model: @message, remote: true do |form| %>

  <div id="error"></div>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2> Error Message </h2>
      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <%end%>
      </ul>
    </div>
  <%end%>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, value: logged_in_user_or_guest().username, readonly: true, class: "form-control"%>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email, class: "form-control"%>
  </p>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, class: "form-control"%>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text, class: "form-control" %>
  </p>

  <%= form.hidden_field :ispublic, :value => true%>

  <p>
    <%= form.button class: "btn btn-info btn-lg" do %>
      Leave A Message <span class="glyphicon glyphicon-comment"></span>
    <%end%>
  </p>
<% end %>
