<p>
  <strong>Sender Name:</strong>
  <%= @message.name %>
</p>
 
<p>
  <strong>Sender Email Address:</strong>
  <%= @message.email %>
</p>
 
<p>
  <strong>Message Title:</strong>
  <%= @message.title %>
</p>
 
<p>
  <strong>Message Content:</strong>
  <%= @message.text %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', "/customer_service/index" %>