<% if logged_in?%>
    <h3>Welcome to your page, <%= logged_in_user.fname%> <%= logged_in_user.lname %>!</h3>
    <p>
      <strong>Email: </strong>
      <%= logged_in_user.email %>
      <br>
      <strong>Cummulative Rating: </strong>
      <%= sprintf('%.2f', logged_in_user.rating) %>
    </p>

    <% if logged_in_user.profile.nil?%>
        <%= link_to 'Complete profile', new_profile_path%>
    <% else %>
        <strong>Personal Information</strong><br/>
        <p><%= logged_in_user.profile.about_me%></p>
		<strong>Gender</strong><br>
		<p><%= logged_in_user.profile.gender%></p><br>
        <p><%= link_to 'Edit Profile', edit_profile_path%></p>
    <% end %>

    <p> <%= link_to 'Logout', logout_path, :method => :delete %> </p>
<% end %>
