<% if logged_in? && logged_in_user.id == @profile_user.id%>
    <h3>Welcome to your page, <%= logged_in_user.fname%> <%= logged_in_user.lname %>!</h3>
<%end%>
<p class="well">
  <strong>Full Name: </strong>
  <%= @profile_user.fname + " " + @profile_user.lname %>
  <br>
  <strong>Username: </strong>
  <%= @profile_user.username%>
  <br>
  <strong>Email: </strong>
  <%= @profile_user.email %>
  <br>
  <strong>City: </strong>
  <%= @profile_user.city %>
  <br>
  <strong>Cummulative Rating: </strong>
  <%= sprintf('%.2f', @profile_user.rating||0) %>
</p>

<% if logged_in? && logged_in_user.id == @profile_user.id%>
    <% if logged_in_user.profile.nil?%>
        <%= link_to 'Complete profile', new_profile_path%>
    <% else %>
        <strong>Personal Information</strong><br/>
        <p><%= logged_in_user.profile.about_me%></p>
		<strong>Gender</strong><br>
		<p><%= logged_in_user.profile.gender%></p><br>
        <p><%= link_to 'Edit Profile', edit_profile_path%></p>
    <% end %>

    <p> <%= link_to 'Logout', logout_path, :method => :delete %> </p>
<% end %>
