<h1> Register as a new Blue Tomato! </h1>

<p><%= link_to 'Back Home', home_path%></p>

<%= form_for @client, local: true do |form| %>
  <p>
    <%= form.fields_for :account do |a|%>
    <%= form.label :AccountInfo,'Account Information' %><br>
    User Name: <%= a.text_field :username %><br>
    Password: <%= a.password_field :password %><br>
    Password Confirm: <%= a.password_field :password_confirmation %>
    <% end %>
  </p>
  <p>
    <%= form.label :PersonalInfo,'Personal Information' %><br>
    First Name: <%= form.text_field :fname %><br>
    Last Name: <%= form.text_field :lname %><br>
    Cell Phone: <%= form.text_field :cell_phone %><br>
    Home Address: 
    <%= form.fields_for :address do |address| %>
    <%= render :partial => 'shared/address', :locals => {:f => address} %>
    <% end %>
  </p>
 
 
  <p>
    <%= form.submit "Register Now!" %>
  </p>
<% end %>