<%= form_with model: @message, remote: true do |form| %>

  <div id="error"></div>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2> Error Message </h2>
      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <%end%>
      </ul>
    </div>
  <%end%>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, value: current_user().username, readonly: true%>
  </p>
 
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email, value: current_user().email %>
  </p>
 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <%= form.hidden_field :ispublic, :value => true%>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>