<tr>
    <td><%= message.title %></td>
    <td><%= message.text %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Show', message_path(message) %></td>
    <td><%= link_to 'Delete', message_path(message),
            method: :delete,
            data: {confirm: 'Are you sure to delete?'}%></td>
</tr>