<% if logged_in?%>
    <h3>Welcome to your page, <%= @user.fname%> <%= @user.lname %>!</h3>
    <p>
      <strong>Email </strong>
      <%= @user.email %>
    </p>
    <p>
      <strong>Phone </strong>
      <%= @user.phone %>
    </p>

    <p><%= link_to 'Logout', logout_path, :method => :delete %>
<% else %>
    <p> Please <%= link_to 'sign in', login_path%> to see your profile.</p>
<% end %>