<%= flash.alert %>
<h1>Listing Teen Offerings</h1>
<%= link_to 'New teen offering', new_teen_offering_path %>
<table>
  <tr>
    <th>Service Type</th>
	<th>Description</th>
    <th>Period</th>
    <th colspan="3"></th>
  </tr>

  <% @teen_offerings.each do |teen_offering| %>
      <tr>
        <td><%= ServiceType.find(teen_offering.service_type_id).name %></td>
		<td><%= teen_offering.detail %></td>
        <td><%= teen_offering.period %></td>
        <td><%= link_to 'Show', teen_offering_path(teen_offering) %></td>
        <td><%= link_to 'Edit', edit_teen_offering_path(teen_offering) %></td>
        <td><%= link_to 'Destroy', teen_offering_path(teen_offering),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>