
<p>
  <strong>Service type:</strong>
  <%= ServiceType.find(@teen_offering.service_type_id).name %>
</p>

<p>
  <strong>Period:</strong>
  <%= @teen_offering.period %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @teen_offering.detail %>
</p>

<%= link_to 'Edit', edit_teen_offering_path(@teen_offering) %> |
<%= link_to 'Back', teen_offerings_path %>
