<h1> Register as a new Tomato! </h1>

<p>Find me in app/views/teenagers/new.html.erb</p>

<%= form_for @teenager, local: true do |form| %>

  <%= form.fields_for @account do |a|%>
  User Name: <%= a.text_field :username %>
  <% end %>
  <p>
    <%= form.label :AccountInfo,'Account' %><br>
    First Name: <%= form.text_field :fname %>
    
  </p>
 
  <p>
    <%= form.label 'Self Introduction' %><br>

    <%= form.text_area :lname %><br>
    limit 500 words
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>