<h1> Register as a new Tomato! </h1>

<p>Find me in app/views/teenagers/new.html.erb</p>

<%= form_with scope: :teenager, url: teenagers_path, local: true do |form| %>
  <p>
    <%= form.label :AccountInfo,'Account Information' %><br>
    User Name: <%= form.text_field :UserID %>
  </p>
 
  <p>
    <%= form.label 'Self Introduction' %><br>

    <%= form.text_area :selfIntro %><br>
    limit 500 words
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>