<h1>CustomerService#index</h1>

<%= form_with local: true, url:{action: "submit_feedback"} do |f| %>
    <p>
        <label>Email Address</label><%= f.text_field :email_address %><br>
        <label>Message:</label><br>
        <%= f.text_area :message %><br>
    </p>
     <%= f.submit "Submit!" %>
<% end %>

<table>
    <tr>
        <th>Title</th>
        <th>Preview</th>
    </tr>
    <% @messages.each do |feedback| %>
        <tr>
            <td><%= feedback.title %></td>
            <td><%= feedback.text %></td>
            <td><%= link_to 'Edit', edit_message_path(feedback) %></td>
            <td><%= link_to 'Show', message_path(feedback) %></td>
            <td><%= link_to 'Delete', message_path(feedback),
                    method: :delete,
                    data: {confirm: 'Are you sure to delete?'}%></td>
        </tr>
    <% end %>
</table>