
<h1>Listing Client Requests</h1>
<%= link_to 'New client request', new_client_request_path %>

<% @client_requests.each do |client_request| %>
    <div class = "well">
      <p><h4><%= client_request.title %></h4></p>
      <p>
        <%= ServiceType.find(client_request.service_type_id).name %>
        <span class="divider"></span>
        <%= client_request.period %>
        <span class="divider"></span>
        <%= link_to 'Read More', client_request_path(client_request), class:"btn btn-default" %>
      </p>
    </div>
<% end %>
