<% if logged_in? %>
	
	<h1>Listing Client Requests</h1>
	<div id="map" class="jumbotron largepic"></div>
	<%= link_to 'New client request', new_client_request_path %>

	<%= form_for_filterrific @filterrific do |f| %>
		<h3>Filter</h3>
		<div>
		Title
		<%# give the search field the 'filterrific-periodically-observed' class for live updates %>
		<%= f.text_field(
		  :search_query,
		  class: 'filterrific-periodically-observed'
		) %>
		</div>
		<div>
		City
		<%= f.text_field(
		:search_city,
		class: 'filterrific-periodically-observed'
		) %>
		
		</div>
		<div>
		Service Type
		<%= f.select(:with_name,
		@filterrific.select_options[:with_name],
		{include_blank: '- Any -'}
		)
		%>
		</div>
		<div>
		Filter Matches
		<%=
		f.check_box :has_matched_user
		%>
		</div>
	  <div>
		<%= link_to(
		  'Reset filters',
		  reset_filterrific_url,
		) %>
	  </div>
	  <%# add an automated spinner to your form when the list is refreshed %>
	  <%= render_filterrific_spinner %>

	<% end %>


	<%= render(
	  partial: 'client_requests/list',
	  locals: { client_requests: @client_requests }
	) %>
	<script>
		var geocoder;
		var map;
		function initMap() {
			var uluru = {lat: 43.66, lng: -79.66};
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 10,
				center: uluru
			});
			var geocoder = new google.maps.Geocoder;
			// var marker = new google.maps.Marker({
			// 	position: uluru,
			// 	map: map
			// });
			$('.addr').each(function(i,obj) {
				codeAddress(obj, geocoder, map);
			});
		}
		function codeAddress(elem, geocoder, map) {
			var address = elem.innerHTML + ", CA";
			geocoder.geocode( { 'address': address}, function(results, status) {
				if (status == 'OK') {
					//map.setCenter(results[0].geometry.location);
					var marker = new google.maps.Marker({
							map: map,
							position: results[0].geometry.location
					});
				} else {
					//alert('Geocode was not successful for the following reason: ' + status + " " + address);
				}
			});
		}
	</script>
	<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnZj7M2mHbfak_giRNh_VjjVBFSAlSa4E&callback=initMap">
	</script>

<% else %>
	
	<h3>
	Please log in first here: 	<%= link_to 'Login', login_path %>
	<h3>
	<h3>
	If you're a new user, register here: <%= link_to 'Register', new_user_path %>
	<h3>
	
<% end %>